.Panel {
  background: #CDD2D4;
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
  border-radius: 3px;
  max-width: 270px;
  min-width: 270px;
  margin: 10px;
  flex: 1 1 auto;
  align-self: auto;
  &__AddCard {
    padding: 8px 10px;
    cursor: pointer;
    &:hover {
      background: rgba(0,0,0,0.1);
      text-decoration: underline;
    }
  }
  &__Header {
    padding: 8px 10px;
    font-weight: bold;
   }
   &__CardEdit {
    padding: 0px 8px;
    padding-bottom: 8px;
    &_text {
      background: white;
      border-radius: 3px;
      padding: 3px;
      padding-bottom: 0px;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
      box-sizing: border-box;
      resize: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
   }
}
